.heading {
    font-size:23px;
    width:100%;
    margin: 0;
    box-shadow: 5px 5px 5px grey;

}



.note {
    font-size: 15px;
    color: rgb(150, 250, 172);
}

.copy_right_footer {
    position: fixed;
    color:darkviolet;
    bottom: 0;
    width: 100%;
    background-color:lightgoldenrodyellow;
    line-height: 1;
    text-align: center;
}

canvas {
    border:5px solid white;
    border-radius:20px;
    box-shadow:5px 5px 5px grey;
}

